<p id="notice"><%= notice %></p>

<h1>Identification of geolocation</h1>
<h4>Here, from the ip addresses of the table was the idea to convert the coordinates that would display on a map the general</h4>

<table>
  <thead>
    <tr>
      <th>Country</th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.country %></td>
        <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stat', new_stat_path %>
